*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(182, 221, 182);
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),#a1a1b19c );
    display: flex;
    justify-content: left;
    align-items: center;
}
#myDiv{
    height: 80%;
    width: 45%;
    background-color: #1c1c5f9c;
    display: grid;
    grid-template-columns:  45% 50%;   
}
.nameImg{
   padding: 5rem 2rem;
   background-color: rgb(0,0, 53, 1);
}
#imageSrc{
 height: 15rem;
 /* max-width: min-content; */
border-style: double;
border-radius: 50%;
}
.details{
 padding: 10rem 1rem ; 
}
p{
    color: aquamarine;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#title{
    color: rgb(25, 25, 83);
   transform: rotate(320deg);
   font-size: 3rem;
 }
 #btn{
    height: 3rem;
    width: 10rem;
    background-color: inherit;
    color: inherit;
    border-radius: 20%;
    direction: center;
 }
 #btn:hover{
    background-color:rgb(25, 25, 83) ;
 }

@media (max-width: 1276px) {
    body{
      width: fit-content;
    }
#myDiv{
    max-width: 30vh;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
}
 } 

@media (max-width: 1276px) {
    body{
      width: fit-content;
    }
#myDiv{
    max-width: 30vh;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
} 
} 
   
   
