*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100%;
    width: 30%;
    display: grid;
    grid-template-rows: 15% 70%;
}
header{
    background-color: wheat;
    color: black;
    font-size: 25px;
    text-align: center;
}
.container{
    background-color: rgb(197, 139, 31);
}
